{% set blog_post_ids = [] %}
{% set blog_posts = [] %}

{% for post in contents %}
  {% do blog_post_ids.append(post.id) %}

  {% set temp_post = {
      id: post.id,
      absoluteUrl: post.absoluteUrl|escape_url,
      featuredImage: post.featuredImage,
      featuredImageAltText: post.featuredImageAltText,
      featuredImageWidth: post.featuredImageWidth,
      featuredImageHeight: post.featuredImageHeight,
      title: post.label,
      topicNames: post.topicNames,
      publishDate: post.publishDate or post.publish_date,
      authorName: post.blog_post_author.display_name or post.blog_author.display_name,
      readTimeMinutes: (((post.post_body or '')|wordcount / 265)|round) or 1
    }
  %}
  {% do blog_posts.append(temp_post) %}
{% endfor %}

{% set all_tags = [] %}
{% for tag_item in blog_tags(group.id, 250) %}
  {% set temp_tag = {
    "name": tag_item.name,
    "slug": tag_item.slug,
    "url": blog_tag_url(group.id, tag_item.slug)|escape_url
  } %}
  {% do all_tags.append(temp_tag) %}
{% endfor %}

{% set active_tag_slug = tag.slug|default('') if tag else '' %}
{% if not active_tag_slug and '/tag/' in request.path %}
  {% set active_tag_slug = request.path|split('/tag/')|last|split('/')|first|default('') %}
{% endif %}
{% set first_page_link = blog_page_link(1)|cut("/page/1") %}
{% set blog_listing_url = group.absolute_url|escape_url %}
{% set current_path = request.path|default('') %}

{% set search_page_size = blog_posts|length if blog_posts|length > 0 else 12 %}

{% set hublData = {
    blogPosts: blog_posts,
    blogPostIds: blog_post_ids,
    currentPageNumber: current_page_num,
    nextPageNumber: next_page_num,
    previousPageNumber: previous_page_num,
    totalPageCount: contents.total_page_count,
    contentsTotalCount: contents.total_count,
    use_featured_image_in_summary: group.use_featured_image_in_summary,
    allTags: all_tags,
    activeTagSlug: active_tag_slug,
    blogListingUrl: blog_listing_url,
    firstPageLink: first_page_link,
    currentPath: current_path,
    blogGroupId: group.id,
    searchPageSize: search_page_size
  }
%}
