.hs-elevate-card {
  display: var(--hsElevate--card--display, flex);
  padding: var(--hsElevate--card--padding, var(--hsElevate--spacing--48, 48px));
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* Small screens: reduce padding to 24px */
  @media (width < 880px) {
    padding: var(--hsElevate--card--padding, var(--hsElevate--spacing--24, 24px));
  }
}

@media (width >= 1000px) {
  .hs-elevate-card--row {
    flex-direction: row;
  }
}
