/*
  TODO: Move this code to the MenuComponent styled-component code -- keeping it here to prevent conflicts with open Menu PRs
  TODO: Remove this file and its references from main.hubl.css
*/

@media (width <= 767px) {
  .hs-elevate-footer .hs-elevate-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.hs-rad-footer .hs-logo-grid,
.hs-rad-footer .hs-logo-grid__logo-wrapper {
  justify-content: flex-start;
}

.hs-rad-footer-top {
  padding: var(--hsElevate--section--medium__verticalPadding) 0;
}

.hs-rad-footer-top__inner {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin: 0 auto;
  max-width: var(--hsElevate--contentWrapper--wide__maxWidth);
  padding: 0 var(--hsElevate--section--horizontalPadding);
}

.hs-rad-footer-top__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hs-rad-footer-top__col--logos {
  gap: 24px;
}

.hs-rad-footer-bottom {
  padding: var(--hsElevate--section--medium__verticalPadding) 0;
}

.hs-rad-footer-bottom__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  max-width: var(--hsElevate--contentWrapper--wide__maxWidth);
  padding: 0 var(--hsElevate--section--horizontalPadding);
}

@media (width <= 767px) {
  .hs-rad-footer-top__inner {
    flex-direction: column;
  }

  .hs-rad-footer-bottom__inner {
    flex-direction: column;
    align-items: flex-start;
  }
}

.hs-rad-footer-address,
.hs-rad-footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hs-rad-footer-legal {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.hs-rad-footer-legal a,
.hs-rad-footer-legal span {
  white-space: nowrap;
}

@media (width <= 767px) {
  .hs-rad-footer-legal {
    justify-content: flex-start;
  }
}
